* {
  border: dotted 1px blue;
}

body {
  height: 95vh;
  width:  95vw;
  display: flex;
  margin: 0;
  background-color: lightgrey;
  font-family: arial, times, sans-serif;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items:center;
  width: 15%
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%
}

.player-icon, .player-name, .win-count, .change-game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
}

.player-image {
  height: 75px;
  width: 90px;
}

.player-count, .computer-count {
  font-size: 13px
}

.game-heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}

.title-container {
  font-size: 40px;
}

.game-prompt-container {
  font-size: 20px;
}

.standard-game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.enhanced-game-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30%;
  width: 100%;
}

.normal-rules-container, .enhanced-rules-container, .game-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 20%
}

.game-icon {
  height: 135px;
  width: 135px;
}

.hidden {
  display: none;
}
